<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2213e8b1-dbc7-4d54-8aff-b5e315df5e5b/resourceGroups/1-58c9765d-playground-sandbox/providers/Microsoft.Web/sites/BenASPWebapp125252</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://benaspwebapp125252-avhbeed5g3d6h4df.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>1b35a5ad-f349-4243-963c-457c56976623</ProjectGuid>
    <PublishUrl>https://benaspwebapp125252-avhbeed5g3d6h4df.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$BenASPWebapp125252</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>